@inherits LayoutComponentBase

<div class="page">
    

    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/Contact" style="color: gold">Contact Me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
<script>
console.log("Window loaded, initializing Vanta.js");
        VANTA.DOTS({
            el: ".page",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 10,
            minWidth: 10,
            scale: 1,
            scaleMobile: 1,
            color: 0xff2020,
            color2: 0x850900,
        });
</script>


</div>


