@page "/Certificates"
@using BlazorAnimate

<Animate Animation="Animations.ZoomInDown">
<body >

<div class="text-danger">
    <h1>My Certificates</h1>
</div>
<br/>


<!--add all images located in cert folder here using html -->



<div class="container-fluid px-0">
    <div class="row">
        <div class="col-sm px-0">
            <div class="card bg-body text-danger" style="width: 18rem; height: 20rem">
                <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/C/sharp.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">C# Back-End Programming</p>
                    <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/C/sharp.png" class="btn btn-danger">view</a>
                </div>
            </div>
        </div>
        <div class="col-sm px-0">
            <div class="card bg-body text-danger" style="width: 18rem; height: 20rem">
                <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/1.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Getting Started with Python</p>
                    <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/1.png" class="btn btn-danger">view</a>
                </div>
            </div>
        </div>
        <div class="col-sm px-0">
            <div class="card bg-body text-danger" style="width: 18rem; height: 20rem">
                <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/2.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Processing, Visualizing Data py</p>
                    <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/2.png" class="btn btn-danger">view</a>
                </div>
            </div>

        </div>
        <div class="col-sm px-0">
            <div class="card bg-body text-danger" style="width: 18rem; height: 20rem">
                <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/3.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Using Databases with Python</p>
                    <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/3.png" class="btn btn-danger">view</a>
                </div>
            </div>

        </div>
        <div class="col-sm px-0">
            <div class="card bg-body text-danger" style="width: 18rem; height: 20rem">
                <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/4.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Python Data Structures</p>
                    <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/4.png" class="btn btn-danger">view</a>
                </div>
            </div>

        </div>
    </div>

    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-body text-danger" style="width: 23rem; height: 24rem">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/5.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Python for Everybody specialization course</p>
                        <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/5.png" class="btn btn-danger">view</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card bg-body text-danger" style="width: 23rem; height: 24rem">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/6.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Using Python to Access Web Data</p>
                        <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/6.png" class="btn btn-danger">view</a>
                    </div>
                </div>

            </div>
            <div class="col-sm">
                <div class="card bg-body text-danger" style="width: 23rem; height: 24rem">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/7.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Back-end Programming: Python + Django</p>
                        <a href="https://raw.githubusercontent.com/SenatorArmstrong228/SenatorArmstrong228.github.io/main/Cert/Py/7.png" class="btn btn-danger">view</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</Animate>

@code {
    
}