@page "/Achievements"
@using BlazorAnimate


<body >
<div class="text-danger">
    <h3>Achievements</h3>
    <h1>My Certificates</h1>
</div>
<br/>

<!--add all images located in cert folder here using html -->

<div class="container">
    <div class="row">
        <div class="col-sm">
             <img src="cert/C/sharp.png" alt="Certificate 1" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/1.png" alt="Certificate 2" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/2.png" alt="Certificate 2" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/3.png" alt="Certificate 2" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/4.png" alt="Certificate 2" style="width:100%">
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm">
            <img src="cert/Py/5.png" alt="Certificate 2" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/6.png" alt="Certificate 2" style="width:100%">
        </div>
        <div class="col-sm">
            <img src="cert/Py/7.png" alt="Certificate 2" style="width:100%">
        </div>
    </div>
</div>

</body>

@code {
    
}