@page "/Contact"
@using BlazorAnimate

<div class="text-danger">
    <Animate Animation="Animations.FlipDown">
    <h3>Contact Me</h3>

    <p>
        Email: d@senatordavy.xyz
        <br/>
        Github: <a href="https://github.com/Davy-G">Davy-G</a>
        <br/>
        Linkedin: <a href="https://www.linkedin.com/in/davit-gogodze-68992324b/">Davit Gogodze</a>
    </p>
    </Animate>
</div>

@code {
}
