@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Welcome To My Personal Portfolio Website</h1>
<p>This is a website to showcase my work and experience</p>

<h2>Who Am I?</h2>
<p>
    My name is david. I'm a software developer from Georgia(country). 
    I have 3 years of experience with C# and .NET framework and 4 years 
    of developing programs and websites in python. Throughout the years 
    I have created lots of projects using blazor, ADO.NET, django. I also
    got certificates for creating these projects, for example: IT specialist
    in python and lots of others. I always try to participate in programming 
    tournaments to win prizes and gain experience. 
</p> 