@page "/"
@using BlazorAnimate

<PageTitle>Welcome</PageTitle>
<div class="text-danger">
    <Animate Animation="Animations.SlideDown" IsManual="false">
        <h1>Welcome To My Personal Portfolio Website</h1>
        <p>This is a website to showcase my work and experience</p>
    </Animate>
    <Animate Animation="Animations.SlideUp">
        
 
    <h2>Who Am I?</h2>
    <p>
        My name is David. I'm a software developer from Georgia(country).
        I have 3 years of experience with C# and .NET framework and 4 years
        of developing programs and websites in Python. Throughout the years
        I have created lots of projects using Blazor, ADO.NET, and django. I
        also got certificates for creating these projects, for example: IT
        specialist in Python and lots of others. I'm also a student at the
        University of Gau, where I study computer science. I'm always looking
        for new opportunities to learn and grow as a developer.
    </p>
    </Animate>

</div>
