@page "/MyProjects"
@using BlazorAnimate

<Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(1)" IsManual="false">
    <div class="text-danger">
        
        <h3>This is a list Of The Projects I Made</h3>
        <ul>
            <li>This Website</li>
            this website is made using Blazor WebAssembly. it utilises variety of technologies such as BlazorAnimate and bootstrap.
            <li>ASP.NET Online Database Manager</li>
            database manager website made using ASP.NET Core. it utilises variety of technologies such as Entity Framework and ADO.NET.
            <li>CRUD Database Reader Using Windows forms</li>
            Database reader made using windows forms. it utilises sqlite to read data from database. it also allows executing live sql queries.
        </ul>
Source Code of these projects is available on my github page. <a href="https://github.com/SenatorArmstrong228">Click Here</a>
    </div>
</Animate>




@code {
    
}