@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <div class="cont">
                <div class="left">
                    <h5> HexDev | David gogodze</h5>
                </div>
                
                <div class="Right">
                    <a href="Contact">About</a>
                    <a href="Contact">Projects</a>
                    <a href="Contact">Certifications</a>
                    <a href="Contact">Contact</a>
                </div>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
@*     <script> *@
@* console.log("Window loaded, initializing Vanta.js"); *@
@*         const effect = VANTA.DOTS({ *@
@*             el: ".page", *@
@*             mouseControls: true, *@
@*             touchControls: true, *@
@*             gyroControls: false, *@
@*             minHeight: 10, *@
@*             minWidth: 10, *@
@*             scale: 1, *@
@*             scaleMobile: 1, *@
@*             color: 0xff2020, *@
@*             color2: 0x850900, *@
@*             backgroundColor: 0x000000, *@
@*         }); *@
@*                  *@
@* </script> *@
@*   *@


    


</div>


